////////////////////////////////
// Cube module
///////////////////////////////

  /////////////////////
  // variables
  /////////////////////

    //full width dimensions
  $cube-width:              150px;
  $cube-height:             150px;
  $cube-half-width:         75px;

    //middle breakpoint widht dimensions
  $rs-md-cube-width:        100px;
  $rs-md-cube-height:       100px;
  $rs-md-cube-half-width:   50px;

    //smallest breakpoint width dimensions
  $rs-sm-cube-width:        100px;
  $rs-sm-cube-height:       100px;
  $rs-sm-cube-half-width:   50px;

    //colors
    $primary: 					#337FFF;
    $primary-darker: 		#0546B2;
    $secondary: 				#FF654D;
    $tertiary: 					#9ACC15;
    $tertiary-darker: 	#89B21B;


  /////////////////////
  // mixins
  /////////////////////

  @mixin cube-dimensions($cube-width, $cube-height) {
    width: $cube-width;
    height: $cube-height;
  }

  @mixin space3d-default {
    perspective: 1000px;
    text-align: center;
    display: inline-block;
  }

  @mixin _3dbox-default {
    display: inline-block;
    transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    -moz-transform: rotateX(-15deg) rotateY(15deg);
    -webkit-transform: rotateX(-15deg) rotateY(15deg);
    -ms-transform: rotateX(-15deg) rotateY(15deg);
    -o-transform: rotateX(-15deg) rotateY(15deg);
  }

/// fix this mixin,
  @mixin radio-transform($degrees) {
    transform: rotateX(degrees); //write deg after number
    -moz-transform: rotateX(degrees);
    -webkit-transform: rotateX(degrees);
    -ms-transform: rotateX(degrees);
    -o-transform: rotateX(degrees);
  }

/////////////////////
// STYLES
/////////////////////

body {
  color: #333;
	margin: 0;
	width: 100vw;
  /*padding: 20px;*/
  /*text-align: center;*/
  font-family: Arial;
}

.radio-button {
  margin-right: 5%;
  margin-bottom: 3%;
  @media (max-width: 500px) {
    margin-right: 3%;
    margin-bottom: 1%;
  }
}

.story-image {
  max-width: 100%;
  max-height: 100%;
}

.container {
  position: absolute;
  top: 129px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y: scroll;
}

.cube-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cube-holder {
  margin: 5%;
  @media (max-width: 500px) {
    width: 40%;
  }
}


.separator {
  margin-top: 20px;
}

  ///////////////////////
  // 3D Cubes
  ///////////////////////

.space3d {
  @include cube-dimensions($cube-width, $cube-height);
  @include space3d-default;
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;

  }
}

._3dbox {
  @include _3dbox-default;

}

  ///////////////////////
  // expanded views
  ///////////////////////

.expanded-article {
  display: none;
}

.expanded-article-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  border: 2px solid $secondary;
  border-radius: 5px;
  padding: 4% 2%;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
}

.expanded-image {
  display: none;
}

.expanded-image-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin-left: 5%;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
}

.image {
  border: 3px solid $primary-darker;
  border-radius: 5px;
}

  ///////////////////////
  // cube faces
  ///////////////////////

._3dface {
  overflow: hidden;
  position: absolute;
  border: 3px solid $tertiary-darker;
  background: #FFF;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  /*line-height: $cube-height;*/
  word-wrap: normal;
  overflow: hidden;
  /*line height causes issues*/

  @media (max-width: 500px) {
    border: 2px solid $tertiary-darker;
    // background: #FFF;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
    // color: #333;
    word-wrap: normal;
    // white-space: pre-line;
  }

}

._3dface--front {
  @include cube-dimensions($cube-width, $cube-height);
  transform: translate3d(0, 0, $cube-half-width);
  -moz-transform: translate3d(0, 0, $cube-half-width);
  -webkit-transform: translate3d(0, 0, $cube-half-width);
  -ms-transform: translate3d(0, 0, $cube-half-width);
  -o-transform: translate3d(0, 0, $cube-half-width);
  white-space: pre-line;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

}

._3dface--top {
  @include cube-dimensions($cube-width, $cube-height);
  transform: rotateX(90deg) translate3d(0, 0, $cube-half-width);
  -moz-transform: rotateX(90deg) translate3d(0, 0, $cube-half-width);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, $cube-half-width);
  -ms-transform: rotateX(90deg) translate3d(0, 0, $cube-half-width);
  -o-transform: rotateX(90deg) translate3d(0, 0, $cube-half-width);
  text-align: center;
  font-size: 14px;
  @media (max-width: 500px) {
    font-size: 11px;
  }
}

._3dface--bottom {
  @include cube-dimensions($cube-width, $cube-height);
  transform: rotateX(-90deg) translate3d(0, 0, $cube-half-width);
  -moz-transform: rotateX(-90deg) translate3d(0, 0, $cube-half-width);
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, $cube-half-width);
  -ms-transform: rotateX(-90deg) translate3d(0, 0, $cube-half-width);
  -o-transform: rotateX(-90deg) translate3d(0, 0, $cube-half-width);
  text-align: center;
  font-size: 13px;
  @media (max-width: 500px) {
    font-size: 11px;
  }
}

._3dface--left {
  @include cube-dimensions($cube-width, $cube-height);
  left: 50%;
  margin-left: -$cube-half-width;
  transform: rotateY(-90deg) translate3d(0, 0, $cube-half-width);
  -moz-transform: rotateY(-90deg) translate3d(0, 0, $cube-half-width);
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, $cube-half-width);
  -ms-transform: rotateY(-90deg) translate3d(0, 0, $cube-half-width);
  -o-transform: rotateY(-90deg) translate3d(0, 0, $cube-half-width);
}

._3dface--right {
  @include cube-dimensions($cube-width, $cube-height);
  left: 50%;
  margin-left: -$cube-half-width;
  transform: rotateY(90deg) translate3d(0, 0, $cube-half-width);
  -moz-transform: rotateY(90deg) translate3d(0, 0, $cube-half-width);
  -webkit-transform: rotateY(90deg) translate3d(0, 0, $cube-half-width);
  -ms-transform: rotateY(90deg) translate3d(0, 0, $cube-half-width);
  -o-transform: rotateY(90deg) translate3d(0, 0, $cube-half-width);
}

._3dface--back {
  @include cube-dimensions($cube-width, $cube-height);
  transform: rotateY(180deg) translate3d(0, 0, $cube-half-width);
  -moz-transform: rotateY(180deg) translate3d(0, 0, $cube-half-width);
  -webkit-transform: rotateY(180deg) translate3d(0, 0, $cube-half-width);
  -ms-transform: rotateY(180deg) translate3d(0, 0, $cube-half-width);
  -o-transform: rotateY(180deg) translate3d(0, 0, $cube-half-width);
}

  ///////////////////////
  // radio buttons
  ///////////////////////

#radio-left:checked ~ .space3d ._3dbox {
  transform: rotateY(90deg);
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
}

#radio-right:checked ~ .space3d ._3dbox {
  transform: rotateY(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
}

._3dface--front {
  background-size: 100%;
}

._3dface--left {
  background-size: auto 100%;
  background-color: $primary-darker;
}

._3dface--right {
  background-size: auto 100%;
}

._3dface--top {
  background-size: auto 100%;
}


@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .cube-holder {
    margin: 5%;
  }


  .separator {
    margin-top: 20px;
  }

  /* 3D Cube */


  ._3dbox {
    display: inline-block;
    transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    -moz-transform: rotateX(-15deg) rotateY(15deg);
    -webkit-transform: rotateX(-15deg) rotateY(15deg);
    -ms-transform: rotateX(-15deg) rotateY(15deg);
    -o-transform: rotateX(-15deg) rotateY(15deg);
  }

  ._3dface--front {
    width: 100px;
    height: 100px;
    transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -webkit-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    white-space: pre-line;
    display: flex;
    flex-wrap: nowrap;
  }

  ._3dface--top {
    width: 100px;
    height: 100px;
    transform: rotateX(90deg) translate3d(0, 0, 50px);
    -moz-transform: rotateX(90deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 50px);
    -ms-transform: rotateX(90deg) translate3d(0, 0, 50px);
    -o-transform: rotateX(90deg) translate3d(0, 0, 50px);
  }

  ._3dface--bottom {
    width: 100px;
    height: 100px;
    transform: rotateX(-90deg) translate3d(0, 0, 50px);
    -moz-transform: rotateX(-90deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateX(-90deg) translate3d(0, 0, 50px);
    -ms-transform: rotateX(-90deg) translate3d(0, 0, 50px);
    -o-transform: rotateX(-90deg) translate3d(0, 0, 50px);
  }

  ._3dface--left {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    transform: rotateY(-90deg) translate3d(0, 0, 50px);
    -moz-transform: rotateY(-90deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateY(-90deg) translate3d(0, 0, 50px);
    -ms-transform: rotateY(-90deg) translate3d(0, 0, 50px);
    -o-transform: rotateY(-90deg) translate3d(0, 0, 50px);
  }

  ._3dface--right {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    transform: rotateY(90deg) translate3d(0, 0, 50px);
    -moz-transform: rotateY(90deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateY(90deg) translate3d(0, 0, 50px);
    -ms-transform: rotateY(90deg) translate3d(0, 0, 50px);
    -o-transform: rotateY(90deg) translate3d(0, 0, 50px);
  }

  ._3dface--back {
    width: 100px;
    height: 100px;
    transform: rotateY(180deg) translate3d(0, 0, 50px);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 50px);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 50px);
    -o-transform: rotateY(180deg) translate3d(0, 0, 50px);
  }

  ._3dface--front {
    background-size: 100%;
    overflow: hidden;
  }

  ._3dface--left {
    background-size: auto 100%;
  }

  ._3dface--right {
    background-size: auto 100%;
  }

  ._3dface--top {
    background-size: auto 100%;
  }
}
