///////////////////
// Header Module //
///////////////////

	///////////////////////////
	// variables
	//////////////////////////

$primary: 					#337FFF;
$primary-darker: 		#0546B2;
$secondary: 				#FF654D;
$tertiary: 					#9ACC15;
$tertiary-darker: 	#89B21B;

///////////////////////////
// mixins
//////////////////////////

@mixin nav-buttons {
	background-color: $secondary;
	border: none;
	color: #FFFFF0;
	padding: 12px 29px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 3px 3px 1px $primary-darker;
	margin-left: 2%;
}

@mixin nav-buttons-small {
	background-color: $secondary;
	border: none;
	color: #FFFFF0;
	padding: 8px 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	box-shadow: 2px 2px 1px $primary-darker;
	margin-left: 2%;
	margin-right: 2%;
}

@mixin nav-buttons-hover {
	background-color: $secondary;
	border: none;
	color: #FFFFF0;
	padding: 14px 31px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/*box-shadow: 3px 3px 1px #888888;*/
	cursor: pointer;
}

///////////////////////////
// styles
//////////////////////////

body {
	padding: 0px;
}

header {
	height: 128px;
	width: 100vw;
	background-color: $primary;
	// opacity: 0.9;
	box-shadow: 2px 2px 0px #888888;

}

.header {
	display:flex;
	align-items: flex-end;
	margin-left: 3em;
	margin-right: 3em;
	@media all and (max-width:400px) {
		margin: 0;
		}
	}

	.title {
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 0;
		@media all and (max-width:400px) {
			margin: auto;
		}

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.headerTitleMain {
			font-family: Roboto, sans-serif;
			font-size: 32px;
			margin: 0;
			padding-bottom: 1%;
			padding-top: 1%;
			color: #FFFFF0;
		}

		.headerTitleSub {
			font-size: 16px;
			font-family: Lora, serif;
			color: #FFFFF0;
			// padding-bottom: 1%;
			margin: 0;
			header: 0;
			@media (max-width:450px) {
				display: none;
			}
		}
	}


.customNav {
	padding-bottom: 1%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	@media (max-width:369px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.button-1 {
	@include nav-buttons;
	@media (max-width: 715px) {
		@include nav-buttons-small
	}
}

.button-1:hover {
	@include nav-buttons-hover;
}

.button-2 {
	@include nav-buttons;
	@media (max-width: 715px) {
		@include nav-buttons-small
	}
}

.button-2:hover {
	@include nav-buttons-hover;
}

.button-3 {
	@include nav-buttons;
	@media (max-width: 715px) {
		@include nav-buttons-small
	}
}

.button-3:hover {
	@include nav-buttons-hover;
}
