<div id="wrapper">

	<form name="login-form" class="login-form" ng-submit="landingCtrl.signIn(user)">

		<div class="header">
    <h1 id="loginHeader">Login Form</h1>
		<span>Already a user? sign in below</span>
		</div>

		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Username" ng-model="user.username" />
		<div class="user-icon"></div>
		<input name="password" type="password" class="input password" placeholder="Password" ng-model="user.password"/>
		<div class="pass-icon"></div>
		</div>

		<div class="footer">
		<input id="submitButton" type="submit" name="submit" value="Login" class="button" />
		<input type="submit" value="Register" class="register" ng-click="landingCtrl.signUpPage()" />
    <input type="submit" value="Continue" class="register" ng-click="landingCtrl.continueTo()" />
		</div>

	</form>

</div>
<!-- <div class="gradient"></div> -->
