<!-- <form ng-submit="landingCtrl.signUp(newUser)">
  <h1 ng-if="landingCtrl.error">{{landingCtrl.error}}</h1>
  <input type="text" ng-model="newUser.email" placeholder="Email">
  <input type="text" ng-model="newUser.username" placeholder="Username">
  <input type="password" ng-model="newUser.password" placeholder="Password">
  <button type="submit">Get Started</button>
</form> -->

<div id="wrapper">

	<form name="sign-up" class="login-form" ng-submit="landingCtrl.signUp(newUser)">

		<div class="header">
		<h1 id="loginHeader">Login Form</h1>
		<span>Fill out form to register</span>
		</div>

		<div class="content">
    <input name="email" type="text" class="input password" placeholder="Email" ng-model="newUser.email"/>
    <!-- <div class="pass-icon"></div> -->
		<input name="username" type="text" class="input username" placeholder="Username" ng-model="newUser.username" />
		<!-- <div class="user-icon"></div> -->
		<input name="password" type="password" class="input password" placeholder="Password" ng-model="newUser.password"/>
		<!-- <div class="pass-icon"></div> -->
		</div>

		<div class="footer">
		<!-- <input name="submit" value="Register" class="button" type="submit" /> -->
		<button type="submit" class="button" value="Register">Create Account</button>
		<!-- <input type="submit" name="submit" value="Register" class="button" /> -->

    <!-- <button type="submit" name="button">Register</button> -->
		</div>

	</form>

</div>
<div class="gradient"></div>
